/*
	CIS 155 Web Development
	Final Project
	Group 2

	Movie Buff Layout Styles 
	Author: Patrick 
	Date: 	8/21/2015

	Filename: 		movie_layout.css
	Supporting files: backdrop.png

	*/

	/*  Layout Styles */


/*

*/

html {
	height: 100%;
	width: 100%;

	min-height: 100%;
	min-width: 100%;

	background: rgb(0, 0, 0) url(backdrop.png) repeat-x center;
	position: relative;

	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	
}

body {
	color: white;
}

header img {
	height: 160px;
	float: left;
	margin-top: 45px;
	margin-right: 80px;
	
}

header hgroup {
	padding-top: 20px;
	float: left;
}

hgroup h1 {
	font-size: 350%;
	color: rgb(155, 155, 155);
}

hgroup h2 {
	color: darkred;
}

body nav {
	clear: left;
	float: left;

	text-align: center;
}

nav ul {
	list-style-type: none;
}

nav ul img {
	height: 7em;
	width: 5em;
}

nav li figcaption {
	font-style: bold;
	font-size: 120%
}